<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteBase / #not sure this is needed. didn't change anything
    #RewriteBase http://www.pi-alarm.com same as above
    RewriteCond $1 !^(index\.php|resources|robots\.txt)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule>