#Deny from all

#originally written for cutterhdcp.com and modified for pi-alarm.com
#Details for Mod Rewrite rules for codeigniter to remove index.php can be found here:
#http://stackoverflow.com/questions/14783666/codeigniter-htaccess-and-url-rewrite-issues
#Mod Rewrite rules below must be applied directly for local Abyss Web Server.
#see http://aprelium.com/abyssws/articles/urlrewriting-modrewrite-conversion.html for details
<IfModule mod_rewrite.c>
    RewriteEngine on
    #RewriteBase /
    RewriteCond $1 !^(index\.php|resources|robots\.txt)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
  # If we don't have mod_rewrite installed, all 404's
  # can be sent to index.php, and everything works as normal.
  # Submitted by: ElliotHaughin

  ErrorDocument 404 /index.php
</IfModule>